<nav><a href="/"><h2>NutritionHack</h2></a></nav>

<div id="container">
  {{#if user}}
  <h4 class="center">Dr. {{user.firstname}} {{user.lastname}}'s Dietitian Dashboard</h4>
<div class="card-container">

<div class="card">
<div class="card-header">
    <h4>My Profile</h4>
  </div><p class="card-text"><b>Username:</b> {{user.username}}</p>
<p class="card-text"><b>Full name:</b> {{user.firstname}} {{user.lastname}}</p>
<p class="card-text"><b>Email:</b> {{user.email}}</p>
<p class="card-text"><b>Specialties:</b> {{user.specialty}}</p>
<p class="card-text"><a href="edit-dietitian">Edit profile information</a></p>
</div>

<div class="card">
     <div class="card-header">
  <h4>My Patients</h4>
  </div>
  <p class="card-text">You don't have any patients yet.</p>
<p class="card-text">{{user.patient.name}}</p>

</div>

{{/if}}
</div>


<div id="buttons">
<a href="/logout"><button class="logout">Logout</button></a>
</div>

</div>