<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">

<h3>My Meal History</h3>
<div id="buttons">
<p><a href="private"><button>Dashboard</button></a></p>
</div>
<div class="card-container">
<div id="meal-history">
   {{#each foods}}

   <div class="food">
       <span class="meal-p">{{meal}}</span>
<p class="date">{{created_at}}</p>
   <h5>{{name}}</h5>
   <hr />
   <p><span class="teal-text">Calories:</span> {{calories}}</p>
   <p><span class="teal-text">Sugars:</span> {{sugars}}</p>
   <p><span class="teal-text">Carbs:</span> {{carbs}}</p>
   <p><span class="teal-text">Proteins:</span> {{proteins}}</p>
</div>

{{/each}}
</div>
</div>

</div>