<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
  <h3>Patient Profile: {{user.firstname}} {{user.lastname}}</h3>
  <div id="buttons">
<p><a href="/admin"><button>Dashboard</button></a></p>
</div>
<div class="card-container">
<div id="food-list">
  {{#each foods as |food|}}
  <p>{{food.name}}</p>
  {{/each}}
</div>
<div id="print-message">
      {{#each messages as |message|}}
 <div class="card message-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{message.subject}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{message.date}}</h6>
    <p class="message-text">{{message.body}}</p>
  </div>
</div>
 {{/each}}

</div>
</div>
</div>