<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
  {{#if user}}
  <h3>{{user.firstname}}'s Nutrition Dashboard</h3>
<div class="common-container">

<section id ="welcome-box">

<h2>Welcome, {{user.username}}!</h2>
<p><b>Username:</b> {{user.username}}</p>
<p><b>Full name:</b> {{user.firstname}} {{user.lastname}}</p>
<p><b>Email:</b> {{user.email}}</p>
<p><b>Gender:</b> {{user.gender}}</p>
<p><b>Height:</b> {{user.height}}</p>
<p><b>Weight:</b> {{user.weight}}</p>
<p><b>Age:</b> {{user.age}}</p>
<p><b>Physical Activity Level:</b> {{user.activity}}</p>
<p><a href="edit">Edit profile information</a></p>
</section>
<div>
<section id="meals-box">
    <h4>My Meals</h4>
    <p>Track your daily caloric intake.</p>
    <p><a href="/meal-record"><button class="small-button">Review meals</button></a></p>
  <p><a href="/meals"><button class="small-button">Add a meal</button></a></p>
  </section>

<section id="messages">
  <h4>Diet Log</h4>
  <p>Review your most recent messages.</p>
  <p><a href="/messages"><button class="small-button">View log</button></a></p>
</section>
</div>

<section id="patients-box">
<h4>Your Dietitian</h4>
<p><b>Dietitian Name:</b> {{user.dietitian.name}}</p>
<p>Don't have a dietitian? <a href="/dietitians">Find one here.</a></p>
</section>
{{/if}}

</div>

<a href="auth/logout"></a><button class="teal">Logout</button></a>

</div>